html {
  background-color: lightblue;
  transition: all 0.2s ease;
  position: relative;
  min-height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
  height: 450px;
  width: 500px;
  margin-top: 40px;
}

.calculator button {
  margin: 5px;
}

.calculatorContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 35px;
  border-radius: 10px;
  background-color: #6d9ecc;
  transition: all 0.2s ease;
}

.screenContainer {
  background-color: lightblue;
  border-radius: 10px;
  height: 155px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;
  transition: all 0.2s ease;
}

.miniScreen {
  color: rgb(77, 78, 78);
}

p,
h1,
button {
  font-family: "Quicksand";
}

p {
  font-size: 30px;
  margin: 20px 0;
}

h1 {
  margin: 0;
  font-size: 40px;
}

button {
  display: flex;
  justify-self: center;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  padding: 40px;
  border: none;
  transition: all 0.2s ease;
  font-size: 30px;
}

button:hover {
  border-radius: 25%;
  transition: all 0.2s ease;
  cursor: pointer;
}

.color-menu {
  display: flex;
  gap: 20px;
  margin: 20px;
}

.color-menu button {
  font-size: 20px;
  background-color: lightblue;
  border: 1px solid black;
}

.color-menu p {
  font-size: 25px;
}

#c-clear {
  background-color: #c5edd2;
}

.c-number {
  background-color: #ebecf0;
}

.c-operator {
  background-color: #bee8fc;
}

#c-equal {
  background-color: #d0e2fc;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 100%;
  padding: 15px 0;
  font-size: 20px;
  font-family: "Quicksand";
}
